<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log für RabbitMQ und Spring AMQP auf DEBUG setzen -->
    <logger name="com.rabbitmq" level="DEBUG"/>
    <logger name="org.springframework.amqp" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
